<html>
<head>
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ "/css/style-timeline.css" | relURL }}">
</head>
<body>
<nav class="navdiv">
  <ul>
    <li>
      <a href="{{ "#" | relURL }}">Start</a>
    </li>
    <li>
      <a href="{{ "#introduktion" | relURL }}">Introduktion</a>
    </li>
    <li>
      <a href="{{ "#tidslinje" | relURL }}">Tidslinje</a>
    </li>
  </ul>
</nav>
<div class="main-content">